/*th, td {*/
    /*border: 2px solid #000000;*/
/*}*/

.table-header {
    background: #d3d3d3;
}

td {
    text-align: center;
    height: 34px;
    vertical-align: middle;
}
tr td:first-child {
    text-align: left;
}
table {
    border: none;
}

.parameters-table td {
    text-align: left;
}
