td.sortable-pointer {
    width: 30px;
    text-align: center;
    color: #ccc;
    cursor: move;
}

.ui-sortable-handle {
    background-color: #fff;
}

.fit-column {
    width: 1%;
    white-space: nowrap;
}